@tailwind base;
@tailwind components;
@tailwind utilities;

.mapContainer {
  height: 100vh;
}

/* .mapboxgl-popup-content {
  background-color: transparent;
  box-shadow: none;
} */

.mapboxgl-popup-tip {
  display: none;
}
/* 
.ais-Hits {
  list-style: none;
  margin: 0;
  padding: 0;
} */

/* .ais-Hits-item {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
} */

/* .hit {
  border: 1px solid black;
  margin-bottom: 10px;
  color: white;
}

.hit {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  position: relative;
  z-index: 9999;
}

.hit-name {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
}

.hit-description {
  margin: 0;
  font-size: 14px;
  color: #777;
} */
*/ .ais-Hits {
  position: absolute;
  z-index: 9999;
}

.ais-Hits-list {
  position: absolute;
  z-index: 9999;
}
